#main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background: #eee;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

  z-index: 1;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
#header-img {
  width: 140px;
  height: 120px;
  background: black;
  object-fit: cover;
  transform: scale(0.5);
  position: relative;
  right: 80px;
  bottom: 20px;
  object-fit: cover;
  border-radius: 50%;
}
#header {
  word-wrap: break-word;
}

.head {
  display: flex;
  justify-content: center;
}
#companyname {
  color: rgb(161, 42, 172);
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 22px;
  /* width: 129px; */
  position: relative;
  right: 115px;
  top: 30px;
}

.nav-link {
  text-decoration: none;
  display: block;
  color: rgb(16, 19, 20);
  font-size: 11px;
  font-family: 'Prompt', sans-serif;
  display: inline;
  word-spacing: 7px;
  position: relative;
  right: 15px;
  top: 35px;
}
#nav-bar {
  text-align: center;
  position: fixed;
  right: 0;
  top: 0;
}

.about {
  text-align: center;
  font-size: 26px;
  color: royalblue;
 font-family: 'Fredoka One', cursive;
 font-weight: bold;
}
.fa-check {
  color: white;
  font-size: 20px;
  background: rgb(180, 10, 123);
  border-radius: 50%;
  transform: scale(1.3);
}
p{
  font-family: 'Jost', sans-serif;
}
#Oreigo {
  width: 340px;
  margin: 0 auto;
  height: auto;
}
.shoes {
  font-weight: bold;
  font-size: 19px;
  position: relative;
  left: 10px;
}
.quality {
  font-weight: bold;
  font-size: 19px;
  position: relative;
  left: 10px;
}
.fa-truck {
  font-size: 20px;
  color: rgb(180, 10, 123);
  border-radius: 50%;
  transform: scale(1.3);
}
.delivery {
  font-weight: bold;
  font-size: 19px;
  position: relative;
  left: 10px;
}
.fa-cart-shopping {
  font-size: 20px;
  color: rgb(180, 10, 123);
  border-radius: 50%;
  transform: scale(1.3);
}
.fa-certificate {
  font-size: 20px;
  color: rgb(180, 10, 123);
  border-radius: 50%;
  transform: scale(1.3);
}
.warranty {
  font-weight: bold;
  font-size: 19px;
  position: relative;
  left: 10px;
}
#video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.shoesimg {
  width: 100%;
  height: auto;
  background: rgb(16, 19, 20);
  color: #eee;
}
.shoeset1 {
  width: 100%;
  height: auto;
  background: black;
  margin: 0 auto;
}
.shoe1 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
}
.shoe2 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  float: right;
  border-radius: 10px;
}
.fa-person {
  font-size: 26px;
  color: rgb(180, 10, 123);
  transform: scale(1.4);
  position: relative;
  left: 10px;
}
.fa-person-dress {
  font-size: 26px;
  color: rgb(180, 10, 123);
  transform: scale(1.4);
  position: relative;
  left: 10px;
}
.men {
  font-weight: bold;
  font-size: 22px;
  position: relative;
  left: 20px;
}
.shoe3 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
}
.shoe4 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  float: right;
  border-radius: 10px;
}
.shoe5 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
}
.shoe6 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  float: right;
  border-radius: 10px;
}
#shoeset2 {
  width: 100%;
  height: auto;
  background: black;
  margin: 0 auto;
}
.shoe7 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
}
.shoe8 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  float: right;
  border-radius: 10px;
}
.shoe9 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
}
.shoe10 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
  position: relative;
  left: 2px;
}
.shoe11 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
}
.shoe12 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
  position: relative;
  left: 2px;
}
#email {
  height: 30px;
  width: 220px;
  font-weight: bold;
  color: black;
  border: 1px solid black;
}
#submit {
  background: rgb(180, 10, 123);
  width: 180px;
  font-weight: bold;
}
.form {
  text-align: center;
}
footer {
  width: 100%;
  height: 70px;
  background: rgb(16, 19, 20);
  height: 90px;
}
.footerlinks {
  color: white;
  text-decoration: none;
  word-spacing: 20px;
}
.copyright {
  color: white;
  float: right;
  position: relative;
  right: 10px;
}
.right {
  float: right;
  position: relative;
  right: 10px;
}
@media screen and (min-width: 768px){
#header-img {
  transform: scale(0.6);
  position: relative;
  right: 220px;
}
#companyname {
  font-size: 32px;
  position: relative;
  right: 245px;
}
.nav-link {
  font-size: 17px;
  word-spacing: 30px;
  position: relative;
  right: 35px;
}
#Oreigo {
  width: 540px;
  margin: 0 auto;
  height: auto;
}
.shoe1 {
  height: 270px;
}
.shoe2 {
  height: 270px;
}
.shoe3 {
  height: 270px;
}
.shoe4 {
   height: 270px;
}
.shoe5 {
  height: 270px;
}
.shoe6 {
  height: 270px;
}

.shoe7 {
   height: 270px;
}
.shoe8 {
  height: 270px;
}
.shoe9 {
  height: 270px;
}
.shoe10 {
   height: 270px;
    position: relative;
  left: 10px;
}
.shoe11 {
   height: 270px;
}
.shoe12 {
  height: 270px;
   position: relative;
  left: 10px;
}
p{
  font-size: 20px;
}
.shoes{
font-size: 23px;
}
.quality{
font-size: 23px;
}
.delivery{
font-size: 23px;
}
.warranty{
font-size: 23px;
}
#email {
  height: 40px;
  width: 270px;
  font-size: 21px;
}
#submit {
  width: 180px;
  height: 30px;
  font-size: 18px;
}
.footerlinks {
  font-size: 18px;
  position: relative;
  bottom: 10px;
}
.copyright {
  position: relative;
  left: 200px;
}

}

@media screen and (min-width: 1024px){
#header-img {
  transform: scale(0.6);
  position: relative;
  right: 420px;
}
#companyname {
  font-size: 32px;
  position: relative;
  right: 445px;
}

#Oreigo {
  width: 640px;
}
.shoe1 {
  height: 370px;
}
.shoe2 {
  height: 370px;
}
.shoe3 {
  height: 370px;
}
.shoe4 {
   height: 370px;
}
.shoe5 {
  height: 370px;
}
.shoe6 {
  height: 370px;
}

.shoe7 {
   height: 370px;
}
.shoe8 {
  height: 370px;
}
.shoe9 {
  height: 370px;
}
.shoe10 {
  height: 370px;
    position: relative;
  left: 20px;
}
.shoe11 {
  height: 370px;
}
.shoe12 {
 height: 370px;
   position: relative;
  left: 20px;
}
}
