#main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background: #eee;

}
header{
position: fixed;
width: 100%;
top:0;
left: 0;
 background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

z-index: 1;

}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
#header-img {
  width: 140px;
  height: 120px;
  background: black;
  object-fit: cover;
  transform: scale(0.5);
  position: relative;
  right: 80px;
  bottom: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.head {
  display: flex;
  justify-content: center;
}
#companyname {
  color: rgb(161, 42, 172);
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 22px;
  /* width: 129px; */
  position: relative;
  right: 115px;
  top: 30px;
}

.nav-link {
  text-decoration: none;
  display: block;
  color: rgb(16, 19, 20);
  font-size: 11px;
  font-family: "Zen Loop", cursive;
  display: inline;
  word-spacing: 20px;
  position: relative;
  right: 15px;
  top: 35px;
  
 
}
#nav-bar {
 text-align: center;
 position: fixed;
 right: 0;
 top: 0;

 
}

.about {
  text-align: center;
  font-size: 26px;
  color: royalblue;
}
.fa-check {
  color: white;
  font-size: 27px;
  background: rgb(180, 10, 123);
  border-radius: 50%;
  transform: scale(1.4);
}
#Oreigo {
  width: 340px;
  margin: 0 auto;
  height: auto;
}
.shoes {
  font-weight: bold;
  font-size: 19px;
  position: relative;
  left: 10px;
}
.quality {
  font-weight: bold;
  font-size: 19px;
  position: relative;
  left: 10px;
}
.fa-truck {
  font-size: 27px;
  color: rgb(180, 10, 123);
  border-radius: 50%;
  transform: scale(1.4);
}
.delivery {
  font-weight: bold;
  font-size: 19px;
  position: relative;
  left: 10px;
}
.fa-cart-shopping {
  font-size: 27px;
  color: rgb(180, 10, 123);
  border-radius: 50%;
  transform: scale(1.4);
}
.fa-certificate {
  font-size: 27px;
  color: rgb(180, 10, 123);
  border-radius: 50%;
  transform: scale(1.4);
}
.warranty {
  font-weight: bold;
  font-size: 19px;
  position: relative;
  left: 10px;
}
#video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.shoesimg {
  width: 100%;
  height: auto;
  background:rgb(16, 19, 20);
  color: #EEE;
}
.shoeset1 {
  width: 100%;
  height: auto;
  background: black;
  margin: 0 auto;
}
.shoe1 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
}
.shoe2 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  float: right;
  border-radius: 10px;
}
.fa-person {
  font-size: 26px;
  color: rgb(180, 10, 123);
  transform: scale(1.4);
   position: relative;
  left: 10px;
}
.fa-person-dress {
  font-size: 26px;
  color: rgb(180, 10, 123);
  transform: scale(1.4);
   position: relative;
  left: 10px;
}
.men {
  font-weight: bold;
  font-size: 22px;
  position: relative;
  left: 20px;
}
.shoe3 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
}
.shoe4 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  float: right;
  border-radius: 10px;
}
.shoe5 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
}
.shoe6 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  float: right;
  border-radius: 10px;
}
#shoeset2 {
  width: 100%;
  height: auto;
  background: black;
  margin: 0 auto;
}
.shoe7 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
}
.shoe8 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  float: right;
  border-radius: 10px;
}
.shoe9 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
}
.shoe10 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
}
.shoe11 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
}
.shoe12 {
  width: 49%;
  max-width: 100%;
  height: 170px;
  border-radius: 10px;
}
#email{
  height: 30px;
  width: 220px;
  font-weight: bold;
  color: black;
  border: 1px solid black;
}
#submit{
  background:rgb(180, 10, 123);
  width: 180px;
  font-weight: bold;
}
.form{
 text-align: center;
}